<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
        <div class="spacer" style="width: 300px; height: 34.9757px;"></div>
        <form class="list">
            <ion-list></ion-list>
            <label class="item item-input">
                <span class="input-label">input amount</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 80px;"></div>
        <button class="button button-stable button-block ">Send</button>
    </ion-content>
</ion-view>

