<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">name</span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input">
                    <span class="input-label">phone</span>
                    <input type="text" placeholder="Phone Number">
                </label>
                <label class="item item-input">
                    <span class="input-label">pin</span>
                    <input type="password" placeholder="4 Digiit Pin">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Log in</button>
        </form>
    </ion-content>
</ion-view>