<ion-view view-title="iBit">
  <ion-content class="padding text-center">
    <div class="profile-details row">
      <div class="avatar col text-right">
        <i class="icon ion-star"></i>
      </div>
      <div class="contact col text-left">
        <h1>Alex Wood</h1>
        <h2>925.719.8694</h2>
      </div>
    </div>
    <div>
      <div class="row">
        <span class="balance">
          Balance
        </span>
      </div>
    </div>
    <div class="row">
        <button class="button button-small">
      Submit
    </button>
    </div>

  </ion-content>
</ion-view>
