<ion-view view-title="iBit">
  <ion-content class="padding">
    <div class="row row-top text-center user-info">
      <div class="col">
        <h1>Alex Wood</h1>
        <h2>925.719.8694</h2>
      </div>
    </div>
    <div class="row row-center text-center">
      <div class="col balance">
        55 credits
      </div>
    </div>
    <div class="row row-bottom text-center invite">
      <div class="col">
        <button class="button button-positive">
          Invite
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
